<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}Machinima</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}machinima</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1803461713211426</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1803461713211426</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>b4Yskd1Ea2DoK0YEK7ONqq80U</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>eFZ7yMnMdiQneloxKPH59z8P452OQireU414AmggaouK89sorA</string>
	<key>VictoriousAppID</key>
	<integer>39</integer>
	<key>StagingAppID</key>
	<integer>53</integer>
	<key>QAAppID</key>
	<integer>37</integer>
	<key>GAID</key>
	<string></string>
	<key>CreatorSalutation</key>
	<string>Machinima, Inc.</string>
	<key>FlurryAPIKey</key>
	<string>XXXXXXXXXX</string>
</dict>
</plist>
