<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clear_video_background</key>
	<false/>
	<key>pause_video_when_commenting</key>
	<string>YES</string>
	<key>capture</key>
	<string>medium</string>
	<key>remix</key>
	<string>medium</string>
	<key>realtimeCommentsEnabled</key>
	<true/>
	<key>memeAndQuoteEnabled</key>
	<true/>
	<key>url.appstore</key>
	<string>itms-apps://itunes.com/apps</string>
	<key>url.tos</key>
	<string>/api/tos</string>
	<key>require_profile_image</key>
	<true/>
	<key>histogram_enabled</key>
	<false/>
	<key>channels_enabled</key>
	<true/>
	<key>marqueeEnabled</key>
	<true/>
	<key>template_c_enabled</key>
	<true/>
	<key>stream_atf_view_threshold</key>
	<real>0.5</real>
	<key>template_c_enabled - 2</key>
	<false/>
	<key>url.privacy</key>
	<string>/api/static/privacy</string>
	<key>monetization.LiveRailsPublisherID</key>
	<string>68957</string>
	<key>monetization.OpenXVastTag</key>
	<string>http://od.victorious.com/ma/1.0/av?auid=537201245</string>
</dict>
</plist>
