<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>appID</key>
		<integer>1</integer>
		<key>baseURL</key>
		<string>http://dev.getvictorious.com</string>
		<key>name</key>
		<string>Dev</string>
	</dict>
	<dict>
		<key>appID</key>
		<integer>1</integer>
		<key>baseURL</key>
		<string>http://qa.getvictorious.com</string>
		<key>name</key>
		<string>QA</string>
	</dict>
	<dict>
		<key>appID</key>
		<integer>1</integer>
		<key>baseURL</key>
		<string>https://staging.getvictorious.com</string>
		<key>name</key>
		<string>Staging</string>
	</dict>
	<dict>
		<key>appID</key>
		<integer>1</integer>
		<key>baseURL</key>
		<string>https://api.getvictorious.com</string>
		<key>name</key>
		<string>Production</string>
	</dict>
</array>
</plist>
