<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AnonymousAccountUserID</key>
	<string>-1</string>
	<key>AnonymousAccountUserToken</key>
	<string>n39iPtAaRNXrOMF7SGL62t51NQs2os5220LkGL7cWcBmjnah8M</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}victorious</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-29</string>
		<string>Icon-40</string>
		<string>Icon-60</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}victorious</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>900</string>
	<key>CreatorSalutation</key>
	<string>Debug Victorious</string>
	<key>FacebookAppID</key>
	<string>664946900317058</string>
	<key>FacebookDisplayName</key>
	<string>Victorious-dev</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.getvictorious.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>staging.getvictorious.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to serve you relevant info such as events in your area.</string>
	<key>ProductPrefix</key>
	<string>${ProductPrefix}</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Impact.ttf</string>
		<string>HelveticaNeueLightItalic.ttf</string>
		<string>Arimo-Bold.ttf</string>
		<string>Arimo-Regular.ttf</string>
		<string>Arvo-Bold.ttf</string>
		<string>Arvo-Regular.ttf</string>
		<string>Bitter-Bold.ttf</string>
		<string>Bitter-Regular.ttf</string>
		<string>DroidSans-Bold.ttf</string>
		<string>DroidSans.ttf</string>
		<string>JosefinSans-Bold.ttf</string>
		<string>JosefinSans-SemiBold.ttf</string>
		<string>JosefinSlab-Bold.ttf</string>
		<string>JosefinSlab-SemiBold.ttf</string>
		<string>Jura-DemiBold.ttf</string>
		<string>Jura-Medium.ttf</string>
		<string>Kreon-Bold.ttf</string>
		<string>Kreon-Regular.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>MavenPro-Bold.ttf</string>
		<string>MavenPro-Regular.ttf</string>
		<string>Merriweather-Bold.ttf</string>
		<string>Merriweather-Regular.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>Oswald-Light.ttf</string>
		<string>Oswald-Regular.ttf</string>
		<string>PlayfairDisplay-Bold.ttf</string>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>PT_Sans-Web-Bold.ttf</string>
		<string>PT_Sans-Web-Regular.ttf</string>
		<string>PTSans-Narrow.ttf</string>
		<string>PT_Serif-Web-Bold.ttf</string>
		<string>PT_Serif-Web-Regular.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>RobotoSlab-Bold.ttf</string>
		<string>RobotoSlab-Regular.ttf</string>
		<string>Rosario-Bold.ttf</string>
		<string>Rosario-Regular.ttf</string>
		<string>Signika-Light.ttf</string>
		<string>Signika-Semibold.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-Semibold.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
		<string>Volkhov-Bold.ttf</string>
		<string>Volkhov-Regular.ttf</string>
		<string>Quicksand-Bold.ttf</string>
		<string>Quicksand-Light.ttf</string>
		<string>Quicksand-Regular.ttf</string>
		<string>MuseoSans-100.otf</string>
		<string>MuseoSans-300.otf</string>
		<string>MuseoSans-500.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>VictoriousGenericURLScheme</key>
	<string>vthisapp</string>
	<key>VictoriousServerEnvironment</key>
	<string>${DefaultEnvironment}</string>
</dict>
</plist>
