<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}victorious</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}victorious</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-29</string>
		<string>Icon-40</string>
		<string>Icon-60</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1374328719478033</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.getvictorious.deeplinking.scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${ProductPrefix}mp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>900</string>
	<key>FacebookAppID</key>
	<string>1374328719478033</string>
	<key>FacebookDisplayName</key>
	<string>VictoriousApp Dev</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>MhDYRpVPTaGQgWBT7ChmxQ</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>damxXK28SCObMZ1CEMTLszm3v8mdRt0L1wuVnzXtH1E</string>
	<key>TestflightQAAppToken</key>
	<string>8ebdaa55-4d8e-41ee-a1a0-5938e9772611</string>
	<key>TestflightReleaseAppToken</key>
	<string>ac3f1322-d0f7-4002-8119-81be50e1c5f2</string>
	<key>TestflightStagingAppToken</key>
	<string>b52a2a45-9c10-4526-a915-a5b65972e9b3</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>MuseoSans-100.otf</string>
		<string>MuseoSans-300.otf</string>
		<string>MuseoSans-500.otf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>VictoriousAppID</key>
	<integer>2</integer>
	<key>StagingAppID</key>
	<integer>2</integer>
	<key>QAAppID</key>
	<integer>2</integer>
	<key>VictoriousServerEnvironment</key>
	<string>${DefaultEnvironment}</string>
	<key>ProductPrefix</key>
	<string>${ProductPrefix}</string>
	<key>GAID</key>
	<string>UA-51702806-1</string>
</dict>
</plist>
