<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>com.getvictorious.eatyourkimchi</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-29</string>
		<string>Icon-40</string>
		<string>Icon-60</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.eatyourkimchi</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1374328719478033</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${ProductPrefix}victorious</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>900</string>
	<key>FacebookAppID</key>
	<string>1374328719478033</string>
	<key>FacebookDisplayName</key>
	<string>VictoriousApp Dev</string>
	<key>FlurryAPIKey</key>
	<string>XXXXXXXXXX</string>
	<key>GAID</key>
	<string>UA-51702806-9</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to serve you relevent info such as events in your area.</string>
	<key>ProductPrefix</key>
	<string>${ProductPrefix}</string>
	<key>QAAppID</key>
	<integer>1</integer>
	<key>StagingAppID</key>
	<integer>1</integer>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>MhDYRpVPTaGQgWBT7ChmxQ</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>damxXK28SCObMZ1CEMTLszm3v8mdRt0L1wuVnzXtH1E</string>
	<key>TestflightQAAppToken</key>
	<string>553ddcc2-00e7-4c93-987b-f552eba89273</string>
	<key>TestflightReleaseAppToken</key>
	<string>02101c7d-4a01-4a44-8e8a-26dca03554aa</string>
	<key>TestflightStagingAppToken</key>
	<string>cabc9a4e-9385-49a7-8d5f-bedd539b60d6</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>MuseoSans-100.otf</string>
		<string>MuseoSans-300.otf</string>
		<string>MuseoSans-500.otf</string>
		<string>PTSans-Narrow.ttf</string>
		<string>Impact.ttf</string>
		<string>HelveticaNeueLightItalic.ttf</string>
		<string>Arimo-Bold.ttf</string>
		<string>Arimo-Regular.ttf</string>
		<string>Arvo-Bold.ttf</string>
		<string>Arvo-Regular.ttf</string>
		<string>Bitter-Bold.ttf</string>
		<string>Bitter-Regular.ttf</string>
		<string>DeliusUnicase-Bold.ttf</string>
		<string>DeliusUnicase-Regular.ttf</string>
		<string>DroidSans-Bold.ttf</string>
		<string>DroidSans.ttf</string>
		<string>JosefinSans-Bold.ttf</string>
		<string>JosefinSans-SemiBold.ttf</string>
		<string>JosefinSlab-Bold.ttf</string>
		<string>JosefinSlab-SemiBold.ttf</string>
		<string>Junction-bold.otf</string>
		<string>Junction-regular.otf</string>
		<string>Jura-DemiBold.ttf</string>
		<string>Jura-Medium.ttf</string>
		<string>Kreon-Bold.ttf</string>
		<string>Kreon-Regular.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>LeagueGothic-Regular.otf</string>
		<string>MavenPro-Bold.ttf</string>
		<string>MavenPro-Regular.ttf</string>
		<string>Merriweather-Bold.ttf</string>
		<string>Merriweather-Regular.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>Oswald-Light.ttf</string>
		<string>Oswald-Regular.ttf</string>
		<string>PlayfairDisplay-Bold.ttf</string>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>PT_Sans-Web-Bold.ttf</string>
		<string>PT_Sans-Web-Regular.ttf</string>
		<string>PT_Serif-Web-Bold.ttf</string>
		<string>PT_Serif-Web-Regular.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>RobotoSlab-Bold.ttf</string>
		<string>RobotoSlab-Regular.ttf</string>
		<string>Rosario-Bold.ttf</string>
		<string>Rosario-Regular.ttf</string>
		<string>Signika-Light.ttf</string>
		<string>Signika-Semibold.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-Semibold.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
		<string>Volkhov-Bold.ttf</string>
		<string>Volkhov-Regular.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>VictoriousAppID</key>
	<integer>1</integer>
	<key>VictoriousServerEnvironment</key>
	<string>${DefaultEnvironment}</string>
</dict>
</plist>
