<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}AwesomenessTV</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}awesomenesstv</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb802820286459743</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>802820286459743</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>n2q6KQUBCzMjRvwHdJXmFNQzR</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>KqYkU6RMMXCX6Xd3eUyaDJTjgDr8swrIll6WFc72S7ophZXlHF</string>
	<key>VictoriousAppID</key>
	<integer>27</integer>
	<key>StagingAppID</key>
	<integer>41</integer>
	<key>QAAppID</key>
	<integer>25</integer>
	<key>GAID</key>
	<string></string>
	<key>CreatorSalutation</key>
	<string>TBD</string>
	<key>FlurryAPIKey</key>
	<string>XXXXXXXXXX</string>
</dict>
</plist>
