<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}Tree Potatoes</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}treepotatoes</string>
	<key>CFBundleName</key>
	<string>${ProductPrefix}TreePotatoes</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1611026185844429</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1611026185844429</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>qSshKfhWmJvHaVPw0q2edZcFq</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>36WbnLo7U3WQG6Y3nsmDBMigoEyG9e8G0Np7NvM9lsaY8qwgH8</string>
	<key>VictoriousAppID</key>
	<integer>65</integer>
	<key>StagingAppID</key>
	<integer>80</integer>
	<key>QAAppID</key>
	<integer>70</integer>
	<key>CreatorSalutation</key>
	<string>Tree Potatoes</string>
	<key>FlurryAPIKey</key>
	<string>QYBBX429KPWRQN8M2G2S</string>
</dict>
</plist>