<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}Bing Chen</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}BingChen</string>
	<key>CFBundleName</key>
	<string>${ProductPrefix}BingChen</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb782803601782748</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>782803601782748</string>
	<key>FacebookDisplayName</key>
	<string>Bing Chen</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>hvywR23IOpuqwQnRL4y0eg0zy</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>8jzaIqJUYPmh1jiVXL7AeRYVwoVOHcI6RiUhgV17LyBCElFKFY</string>
	<key>TestflightQAAppToken</key>
	<string>8ce12211-1952-4685-bc71-1d131484fc9f</string>
	<key>TestflightStagingAppToken</key>
	<string>766dae56-4c54-4a6a-851c-fc338a224c66</string>
	<key>TestflightReleaseAppToken</key>
	<string>d13e74d7-e7c2-4586-a956-840725048f38</string>
	<key>VictoriousAppID</key>
	<integer>12</integer>
	<key>StagingAppID</key>
	<integer>0</integer>
	<key>QAAppID</key>
	<integer>0</integer>
	<key>GAID</key>
	<string>UA-51702806-7</string>
</dict>
</plist>
