<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>creator.name</key>
	<string>Jess Lizama</string>
	<key>email.support</key>
	<string>services@victorious.com</string>
	<key>color.background</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>color.text</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>255</integer>
		<key>blue</key>
		<integer>255</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>color.text.content</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>color.link</key>
	<dict>
		<key>red</key>
		<integer>194</integer>
		<key>green</key>
		<integer>21</integer>
		<key>blue</key>
		<integer>122</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>color.link.secondary</key>
	<dict>
		<key>red</key>
		<integer>35</integer>
		<key>green</key>
		<integer>35</integer>
		<key>blue</key>
		<integer>35</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>color.accent</key>
	<dict>
		<key>red</key>
		<integer>2</integer>
		<key>green</key>
		<integer>205</integer>
		<key>blue</key>
		<integer>209</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>color.accent.secondary</key>
	<dict>
		<key>red</key>
		<integer>2</integer>
		<key>green</key>
		<integer>174</integer>
		<key>blue</key>
		<integer>178</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>font.header</key>
	<dict>
		<key>fontName</key>
		<string>Avenir-Roman</string>
		<key>fontSize</key>
		<integer>18</integer>
	</dict>
	<key>font.heading1</key>
	<dict>
		<key>fontName</key>
		<string>Avenir-Roman</string>
		<key>fontSize</key>
		<integer>24</integer>
	</dict>
	<key>font.heading2</key>
	<dict>
		<key>fontName</key>
		<string>Avenir-Roman</string>
		<key>fontSize</key>
		<integer>20</integer>
	</dict>
	<key>font.heading3</key>
	<dict>
		<key>fontName</key>
		<string>Avenir-Roman</string>
		<key>fontSize</key>
		<integer>17</integer>
	</dict>
	<key>font.heading4</key>
	<dict>
		<key>fontName</key>
		<string>Avenir-Roman</string>
		<key>fontSize</key>
		<integer>15</integer>
	</dict>
	<key>font.paragraph</key>
	<dict>
		<key>fontName</key>
		<string>Avenir-Roman</string>
		<key>fontSize</key>
		<integer>13</integer>
	</dict>
	<key>font.label1</key>
	<dict>
		<key>fontName</key>
		<string>Avenir-Medium</string>
		<key>fontSize</key>
		<integer>13</integer>
	</dict>
	<key>font.label2</key>
	<dict>
		<key>fontName</key>
		<string>Avenir-Roman</string>
		<key>fontSize</key>
		<integer>12</integer>
	</dict>
	<key>font.label3</key>
	<dict>
		<key>fontName</key>
		<string>Avenir-Roman</string>
		<key>fontSize</key>
		<integer>11</integer>
	</dict>
	<key>font.label4</key>
	<dict>
		<key>fontName</key>
		<string>Avenir-Roman</string>
		<key>fontSize</key>
		<integer>10</integer>
	</dict>
	<key>font.button1</key>
	<dict>
		<key>fontName</key>
		<string>Avenir-Medium</string>
		<key>fontSize</key>
		<integer>25</integer>
	</dict>
	<key>font.button2</key>
	<dict>
		<key>fontName</key>
		<string>Avenir-Medium</string>
		<key>fontSize</key>
		<integer>17</integer>
	</dict>
</dict>
</plist>
