<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}Jess Lizama</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}JessLizama</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1446614055626741</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1446614055626741</string>
	<key>FacebookDisplayName</key>
	<string>Jess Lizama</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>B0RXHy2SpD41qScvqR44Lc9oPnq1hJz6BKzxW5V8kkpka2z8yq</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>es7BgyHtdseFO6Q5QqxlCWxru</string>
	<key>TestflightReleaseAppToken</key>
	<string>c31250e1-8689-41af-80ec-8492aca17a07</string>
	<key>TestflightQAAppToken</key>
	<string>848a154d-e5ae-4d8f-9bcf-2d52d50e6538</string>
	<key>TestflightStagingAppToken</key>
	<string>46f0db43-5916-4d82-ade2-11f5a9830cde</string>
	<key>VictoriousAppID</key>
	<integer>4</integer>
	<key>StagingAppID</key>
	<integer>4</integer>
	<key>QAAppID</key>
	<integer>4</integer>
	<key>FlurryAPIKey</key>
	<string>BHDG4TJTJ7HBZJJQQNQ7</string>
	<key>GAID</key>
	<string>UA-51702806-2</string>
</dict>
</plist>
