<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}iLucy</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}ilucy</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb764393736989552</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>764393736989552</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>NIy7p2aBYMnVvVn0BldreL6ro</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>mXchkVjvFQktV5F6xOf3YEmTU6FjeMCxdGDmrsvyubJkeWIj1n</string>
	<key>VictoriousAppID</key>
	<integer>22</integer>
	<key>StagingAppID</key>
	<integer>36</integer>
	<key>QAAppID</key>
	<integer>20</integer>
	<key>GAID</key>
	<string></string>
	<key>CreatorSalutation</key>
	<string>Lucy Aldridge</string>
	<key>FlurryAPIKey</key>
	<string>XXXXXXXXXX</string>
</dict>
</plist>
