<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}Strawburry17</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}strawburry17</string>
	<key>CFBundleName</key>
	<string>${ProductPrefix}Strawburry17</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb786590024743304</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>786590024743304</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>yDLvyD9QSBW345eaQtIR1PClL</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>QChWA4Uo4dmBKnKyuZrrCwmMExFsOdIK0CMFjqI9LwKf1HsxKw</string>
	<key>VictoriousAppID</key>
	<integer>36</integer>
	<key>StagingAppID</key>
	<integer>50</integer>
	<key>QAAppID</key>
	<integer>34</integer>
	<key>CreatorSalutation</key>
	<string>Strawburry17</string>
	<key>FlurryAPIKey</key>
	<string>G6K39SJQJBBHTXPD7G5Q</string>
</dict>
</plist>