<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}Pwnisher</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}pwnisher</string>
	<key>CFBundleName</key>
	<string>${ProductPrefix}Pwnisher</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb332064903619995</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>332064903619995</string>
	<key>FacebookDisplayName</key>
	<string>Pwnisher</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>SjOdfl1WxoTc3KXfd0Dj6dVpm</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>WfJjNASdAYbh0GU7OKh5CYR5WqepXtB6AML6hefX3vz9SwRCCa</string>
	<key>TestflightQAAppToken</key>
	<string>8ee21100-87ae-4dce-ac53-99aff370a1e9</string>
	<key>TestflightStagingAppToken</key>
	<string>e42f11ae-6434-46ab-859b-caac57626fe8</string>
	<key>TestflightReleaseAppToken</key>
	<string>fc66ea4a-6e4f-4e94-993f-fda2f16e45dd</string>
	<key>VictoriousAppID</key>
	<integer>8</integer>
	<key>StagingAppID</key>
	<integer>7</integer>
	<key>QAAppID</key>
	<integer>0</integer>
	<key>GAID</key>
	<string>UA-51702806-3</string>
	<key>FlurryAPIKey</key>
	<string>D2FNJ87GGV4VBQRN57WY</string>
</dict>
</plist>
