<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}M[ish]</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}michellephan</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb370784706439907</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>370784706439907</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>qvYqf5wJ5hGI5O9Yu9Ilj4VoW</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>l2kmVN9mHisdUw6OLL0628xoYa1xEAQdZyrcBGOEpizItN9lp6</string>
	<key>VictoriousAppID</key>
	<integer>2</integer>
	<key>StagingAppID</key>
	<integer>2</integer>
	<key>QAAppID</key>
	<integer>2</integer>
	<key>GAID</key>
	<string>UA-51702806-6</string>
	<key>CreatorSalutation</key>
	<string>Michelle Phan</string>
	<key>FlurryAPIKey</key>
	<string>XXXXXXXXXX</string>
</dict>
</plist>
