<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}Boyce Avenue</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}boyceavenue</string>
	<key>CFBundleName</key>
	<string>${ProductPrefix}BoyceAvenue</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1831698747056092</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1831698747056092</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>VvnORwDKxiODn0UKxnCKZRRQm</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>vqnCcTSRKEKLKzXSudkTDVyUZS2fgRlEYOh87LjT5wurqkafnh</string>
	<key>VictoriousAppID</key>
	<integer>47</integer>
	<key>StagingAppID</key>
	<integer>14</integer>
	<key>QAAppID</key>
	<integer>44</integer>
	<key>CreatorSalutation</key>
	<string>Boyce Avenue</string>
	<key>FlurryAPIKey</key>
	<string>4Y3HQVHMCNGVH8Z5DQRT</string>
</dict>
</plist>
