<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}Cartoon Hangover</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}Cartoon-Hangover</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1374328719478033</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1374328719478033</string>
	<key>VictoriousAppID</key>
	<integer>6</integer>
	<key>StagingAppID</key>
	<integer>6</integer>
	<key>QAAppID</key>
	<integer>6</integer>
	<key>FlurryAPIKey</key>
	<string>5VDQV2TBRSQ7KY7JCPJX</string>
</dict>
</plist>
