<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}Fitness Blender</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}fitnessblender</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1607506779482075</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1607506779482075</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>iuzemJAgn1BvvjqcUpUvi0OVO</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>oSDvDScUmWTDRdCczy4XFwu0593WPLWWjkjuO8aar99vv9ChC5</string>
	<key>VictoriousAppID</key>
	<integer>31</integer>
	<key>StagingAppID</key>
	<integer>45</integer>
	<key>QAAppID</key>
	<integer>29</integer>
	<key>GAID</key>
	<string></string>
	<key>CreatorSalutation</key>
	<string>Fitness Blender</string>
	<key>FlurryAPIKey</key>
	<string>V93K7C7Z4N66FNC39V64</string>
</dict>
</plist>
