<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agreement.link</key>
	<string>http://dev.getvictorious.com/api/static/tos</string>
	<key>agreement.linkText</key>
	<string>Terms of Service</string>
	<key>agreement.text</key>
	<string>I&apos;m at least 13 years old and agree to Terms of Service</string>
	<key>email.support</key>
	<string>services@victorious.com</string>
	<key>creator.name</key>
	<string>The Young Turks</string>
	<key>color</key>
	<dict>
		<key>red</key>
		<integer>54</integer>
		<key>green</key>
		<integer>37</integer>
		<key>blue</key>
		<integer>78</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>color.background</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>color.cancel</key>
	<dict>
		<key>red</key>
		<integer>153</integer>
		<key>green</key>
		<integer>153</integer>
		<key>blue</key>
		<integer>153</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>color.text</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>255</integer>
		<key>blue</key>
		<integer>255</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>color.text.content</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>color.link</key>
	<dict>
		<key>red</key>
		<integer>203</integer>
		<key>green</key>
		<integer>42</integer>
		<key>blue</key>
		<integer>45</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>color.link.secondary</key>
	<dict>
		<key>red</key>
		<integer>35</integer>
		<key>green</key>
		<integer>35</integer>
		<key>blue</key>
		<integer>35</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>color.accent</key>
	<dict>
		<key>red</key>
		<integer>173</integer>
		<key>green</key>
		<integer>36</integer>
		<key>blue</key>
		<integer>38</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>color.accent.secondary</key>
	<dict>
		<key>red</key>
		<integer>74</integer>
		<key>green</key>
		<integer>145</integer>
		<key>blue</key>
		<integer>233</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>font.header</key>
	<dict>
		<key>fontName</key>
		<string>Futura-Medium</string>
		<key>fontSize</key>
		<integer>18</integer>
	</dict>
	<key>font.heading1</key>
	<dict>
		<key>fontName</key>
		<string>Futura-Medium</string>
		<key>fontSize</key>
		<integer>24</integer>
	</dict>
	<key>font.heading2</key>
	<dict>
		<key>fontName</key>
		<string>Futura-Medium</string>
		<key>fontSize</key>
		<integer>20</integer>
	</dict>
	<key>font.heading3</key>
	<dict>
		<key>fontName</key>
		<string>Futura-Medium</string>
		<key>fontSize</key>
		<integer>17</integer>
	</dict>
	<key>font.heading4</key>
	<dict>
		<key>fontName</key>
		<string>Futura-Medium</string>
		<key>fontSize</key>
		<integer>15</integer>
	</dict>
	<key>font.paragraph</key>
	<dict>
		<key>fontName</key>
		<string>Futura</string>
		<key>fontSize</key>
		<integer>13</integer>
	</dict>
	<key>font.label1</key>
	<dict>
		<key>fontName</key>
		<string>Futura-Medium</string>
		<key>fontSize</key>
		<integer>13</integer>
	</dict>
	<key>font.label2</key>
	<dict>
		<key>fontName</key>
		<string>Futura-Medium</string>
		<key>fontSize</key>
		<integer>12</integer>
	</dict>
	<key>font.label3</key>
	<dict>
		<key>fontName</key>
		<string>Futura-Medium</string>
		<key>fontSize</key>
		<integer>11</integer>
	</dict>
	<key>font.label4</key>
	<dict>
		<key>fontName</key>
		<string>Futura-Medium</string>
		<key>fontSize</key>
		<integer>10</integer>
	</dict>
	<key>font.button1</key>
	<dict>
		<key>fontName</key>
		<string>Futura-Medium</string>
		<key>fontSize</key>
		<integer>25</integer>
	</dict>
	<key>font.button2</key>
	<dict>
		<key>fontName</key>
		<string>Futura-Medium</string>
		<key>fontSize</key>
		<integer>17</integer>
	</dict>
	<key>image.emptyprofile</key>
	<string>http://dev.getvictorious.com/api/static/privacy</string>
	<key>image.launchImage</key>
	<string>http://dev.getvictorious.com/api/static/privacy</string>
</dict>
</plist>
