<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}ImJennIm</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}imjennim</string>
	<key>CFBundleName</key>
	<string>${ProductPrefix}ImJennIm</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb678051838967856</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>678051838967856</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>bwl9CW2DjI2Hq9eDeIUynfk7Z</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>czEKd2M4zGa1mCqCIMzNmvtvDWnQzIG7ZeOkDtqPuwUl2toqmF</string>
	<key>VictoriousAppID</key>
	<integer>54</integer>
	<key>StagingAppID</key>
	<integer>71</integer>
	<key>QAAppID</key>
	<integer>53</integer>
	<key>CreatorSalutation</key>
	<string>ImJennIm</string>
	<key>FlurryAPIKey</key>
	<string>3P3FRJ49TY45FCNYMJ22</string>
</dict>
</plist>