<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}Copa90Football</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}copa90football</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb450890068397907</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>450890068397907</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>pCOanvdQ3zOlsJeqA4Y3yUYc4</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>uDbDEqrvK9X3hLoyIzkyRCzlu6XGyPqIsQm3eT6TmGA7x3SQHy</string>
	<key>VictoriousAppID</key>
	<integer>26</integer>
	<key>StagingAppID</key>
	<integer>40</integer>
	<key>QAAppID</key>
	<integer>24</integer>
	<key>GAID</key>
	<string></string>
	<key>CreatorSalutation</key>
	<string>Philip Mitchelson</string>
	<key>FlurryAPIKey</key>
	<string>XXXXXXXXXX</string>
</dict>
</plist>
