<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hiddenWorkspace</key>
	<string>VWorkspaceFlowController</string>
	<key>translucent.background</key>
	<string>VTranslucentBackground</string>
	<key>blurredImage.background</key>
	<string>VBlurredImageBackground</string>
	<key>solidColor.background</key>
	<string>VSolidColorBackground</string>
	<key>tilePattern.background</key>
	<string>VTilePatternBackground</string>
	<key>trim.video.tool</key>
	<string>VTrimVideoTool</string>
	<key>snapshot.video.tool</key>
	<string>VVideoSnapshotTool</string>
	<key>basic.crop</key>
	<string>VCropToolViewController</string>
	<key>vertical.picker</key>
	<string>VTickerPickerViewController</string>
	<key>vertical.multiplePicker</key>
	<string>VMultiplePickerViewController</string>
	<key>filter.tool</key>
	<string>VFilterTool</string>
	<key>quote.tool</key>
	<string>VQuoteTool</string>
	<key>meme.tool</key>
	<string>VMemeTool</string>
	<key>crop.tool</key>
	<string>VCropTool</string>
	<key>text.tool</key>
	<string>VTextTool</string>
	<key>textType.tool</key>
	<string>VTextTypeTool</string>
	<key>hashtag.tool</key>
	<string>VHashtagTool</string>
	<key>textColor.tool</key>
	<string>VTextColorTool</string>
	<key>workspace.screen</key>
	<string>VWorkspaceViewController</string>
	<key>workspace</key>
	<string>VWorkspaceShimDestination</string>
	<key>workspaceText</key>
	<string>VTextWorkspaceFlowController</string>
	<key>sideMenu.scaffold</key>
	<string>VSideMenuViewController</string>
	<key>tabMenu.scaffold</key>
	<string>VTabMenuViewController</string>
	<key>simple.menu</key>
	<string>VMenuController</string>
	<key>tab.menu</key>
	<string>VTabMenuShim</string>
	<key>stream.screen</key>
	<string>VStreamCollectionViewController</string>
	<key>hashtagStream.screen</key>
	<string>VHashtagStreamCollectionViewController</string>
	<key>standard.contentView</key>
	<string>VContentViewFactory</string>
	<key>animated.voteType</key>
	<string>VVoteType</string>
	<key>followingStream.screen</key>
	<string>VFollowingStreamCollectionViewController</string>
	<key>showcase.screen</key>
	<string>VShowcaseCollectionViewController</string>
	<key>streamDirectory.screen</key>
	<string>VDirectoryCollectionViewController</string>
	<key>collections.screen</key>
	<string>VCollectionsCollectionViewController</string>
	<key>basic.multiScreen</key>
	<string>VMultipleContainerViewController</string>
	<key>basic.multiScreenSelector</key>
	<string>VSegmentedSelectorView</string>
	<key>textbar.multiScreenSelector</key>
	<string>VTextbarSelectorView</string>
	<key>rounded.multiScreenSelector</key>
	<string>VRoundedSegmentedSelectorView</string>
	<key>inbox.screen</key>
	<string>VInboxViewController</string>
	<key>notifications.screen</key>
	<string>VNotificationsViewController</string>
	<key>currentUserProfile.screen</key>
	<string>VUserProfileNavigationDestination</string>
	<key>userProfile.screen</key>
	<string>VUserProfileViewController</string>
	<key>settings.screen</key>
	<string>VSettingsViewController</string>
	<key>discover.screen</key>
	<string>VDiscoverContainerViewController</string>
	<key>lightweight.contentView</key>
	<string>VLightweightContentViewController</string>
	<key>inset.streamCell</key>
	<string>VInsetStreamCellFactory</string>
	<key>sleek.streamCell</key>
	<string>VSleekStreamCellFactory</string>
	<key>titleOverlay.streamCell</key>
	<string>VTitleOverlayStreamCellFactory</string>
	<key>fullscreen.marqueeCell</key>
	<string>VInsetMarqueeController</string>
	<key>blurred.marqueeCell</key>
	<string>VBlurredMarqueeController</string>
	<key>inset.marqueeCell</key>
	<string>VInsetMarqueeController</string>
</dict>
</plist>
