<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>translucent.background</key>
	<string>VTranslucentBackground</string>
	<key>blurredImage.background</key>
	<string>VBlurredImageBackground</string>
	<key>solidColor.background</key>
	<string>VSolidColorBackground</string>
	<key>trim.video.tool</key>
	<string>VTrimVideoTool</string>
	<key>snapshot.video.tool</key>
	<string>VVideoSnapshotTool</string>
	<key>basic.crop</key>
	<string>VCropToolViewController</string>
	<key>vertical.picker</key>
	<string>VTickerPickerViewController</string>
	<key>filter.tool</key>
	<string>VFilterTool</string>
	<key>quote.tool</key>
	<string>VQuoteTool</string>
	<key>meme.tool</key>
	<string>VMemeTool</string>
	<key>crop.tool</key>
	<string>VCropTool</string>
	<key>text.tool</key>
	<string>VTextTool</string>
	<key>textType.tool</key>
	<string>VTextTypeTool</string>
	<key>workspace.screen</key>
	<string>VWorkspaceViewController</string>
	<key>workspace</key>
	<string>VWorkspaceFlowController</string>
	<key>sideMenu.scaffold</key>
	<string>VSideMenuViewController</string>
	<key>tabMenu.scaffold</key>
	<string>VTabMenuViewController</string>
	<key>simple.menu</key>
	<string>VMenuController</string>
	<key>stream.screen</key>
	<string>VStreamCollectionViewController</string>
	<key>followingStream.screen</key>
	<string>VFollowingStreamCollectionViewController</string>
	<key>streamDirectory.screen</key>
	<string>VDirectoryViewController</string>
	<key>basic.multiScreen</key>
	<string>VMultipleContainerViewController</string>
	<key>basic.multiScreenSelector</key>
	<string>VSegmentedSelectorView</string>
	<key>textbar.multiScreenSelector</key>
	<string>VTextbarSelectorView</string>
	<key>inbox.screen</key>
	<string>VInboxContainerViewController</string>
	<key>currentUserProfile.screen</key>
	<string>VUserProfileNavigationDestination</string>
	<key>userProfile.screen</key>
	<string>VUserProfileViewController</string>
	<key>settings.screen</key>
	<string>VSettingsViewController</string>
	<key>discover.screen</key>
	<string>VDiscoverContainerViewController</string>
</dict>
</plist>
