<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>suggestedUsers.screen</key>
	<string>VSuggestedUsersViewController</string>
	<key>addProfilePicture.screen</key>
	<string>VEnterProfilePictureCameraViewController</string>
	<key>forum.screen</key>
	<string>victorious.ForumViewController</string>
	<key>modernResetPassword.screen</key>
	<string>VModernResetPasswordViewController</string>
	<key>modernResetToken.screen</key>
	<string>VModernResetTokenViewController</string>
	<key>modernEnterNameScreen.screen</key>
	<string>VModernEnterNameViewController</string>
	<key>modernRegisterEmailAndPassword.screen</key>
	<string>VModernRegisterViewController</string>
	<key>modernLoginEmailAndPassword.screen</key>
	<string>VModernLoginViewController</string>
	<key>modernLanding.screen</key>
	<string>VModernLandingViewController</string>
	<key>modernLoading.screen</key>
	<string>victorious.ModernLoadingViewController</string>
	<key>modernLoginAndRegistration.flow</key>
	<string>VModernLoginAndRegistrationFlowViewController</string>
	<key>image.creationFlow</key>
	<string>VImageCreationFlowController</string>
	<key>translucent.background</key>
	<string>VTranslucentBackground</string>
	<key>blurredImage.background</key>
	<string>victorious.SystemBlurredImageBackground</string>
	<key>solidColor.background</key>
	<string>VSolidColorBackground</string>
	<key>gradient.background</key>
	<string>victorious.VGradientBackground</string>
	<key>tilePattern.background</key>
	<string>VTilePatternBackground</string>
	<key>video.background</key>
	<string>VVideoBackground</string>
	<key>trim.video.tool</key>
	<string>VTrimVideoTool</string>
	<key>snapshot.video.tool</key>
	<string>VVideoSnapshotTool</string>
	<key>basic.crop</key>
	<string>VCropToolViewController</string>
	<key>vertical.picker</key>
	<string>VTickerPickerViewController</string>
	<key>multipleVertical.picker</key>
	<string>VMultiplePickerViewController</string>
	<key>filter.tool</key>
	<string>VFilterTool</string>
	<key>meme.tool</key>
	<string>VMemeTool</string>
	<key>crop.tool</key>
	<string>VCropTool</string>
	<key>textOverlay.tool</key>
	<string>VTextTool</string>
	<key>textType.tool</key>
	<string>VTextTypeTool</string>
	<key>hashtag.tool</key>
	<string>VHashtagTool</string>
	<key>textColor.tool</key>
	<string>VTextColorTool</string>
	<key>camera.screen</key>
	<string>VCameraViewController</string>
	<key>imageCamera.screen</key>
	<string>VImageCameraViewController</string>
	<key>videoCamera.screen</key>
	<string>VVideoCameraViewController</string>
	<key>mixedMediaCamera.screen</key>
	<string>victorious.MixedMediaCameraViewController</string>
	<key>workspace.screen</key>
	<string>VWorkspaceViewController</string>
	<key>nativeWorkspace.screen</key>
	<string>victorious.NativeWorkspaceViewController</string>
	<key>imageVideoGallery.screen</key>
	<string>VAssetCollectionGridViewController</string>
	<key>workspace</key>
	<string>VWorkspaceShimDestination</string>
	<key>text.creationFlow</key>
	<string>VTextWorkspaceFlowController</string>
	<key>library.creationFlow</key>
	<string>victorious.LibraryCreationFlowController</string>
	<key>mixedMediaCamera.creationFlow</key>
	<string>victorious.MixedMediaCameraCreationFlowController</string>
	<key>nativeCamera.creationFlow</key>
	<string>victorious.NativeCameraCreationFlowController</string>
	<key>poll.creationFlow</key>
	<string>VPollCreationFlowController</string>
	<key>video.creationFlow</key>
	<string>VVideoCreationFlowController</string>
	<key>gif.creationFlow</key>
	<string>VGIFCreationFlowController</string>
	<key>pollCreation.screen</key>
	<string>VCreatePollViewController</string>
	<key>sideNav.scaffold</key>
	<string>victorious.SideNavScaffoldViewController</string>
	<key>rightNav.screen</key>
	<string>victorious.RightNavViewController</string>
	<key>tabMenu.scaffold</key>
	<string>victorious.VTabScaffoldViewController</string>
	<key>tab.menu</key>
	<string>VTabMenuShim</string>
	<key>stream.screen</key>
	<string>VStreamCollectionViewController</string>
	<key>closeupview.screen</key>
	<string>victorious.CloseUpContainerViewController</string>
	<key>likedContentStream.screen</key>
	<string>VLikedContentStreamCollectionViewController</string>
	<key>hashtagStream.screen</key>
	<string>VHashtagStreamCollectionViewController</string>
	<key>standard.contentView</key>
	<string>VContentViewFactory</string>
	<key>animated.voteType</key>
	<string>VVoteType</string>
	<key>followingStream.screen</key>
	<string>VFollowingStreamCollectionViewController</string>
	<key>directory.screen</key>
	<string>VDirectoryCollectionViewController</string>
	<key>basic.multiScreen</key>
	<string>VMultipleContainerViewController</string>
	<key>basic.multiScreenSelector</key>
	<string>VSegmentedSelectorView</string>
	<key>textbar.multiScreenSelector</key>
	<string>VTextbarSelectorView</string>
	<key>rounded.multiScreenSelector</key>
	<string>VRoundedSegmentedSelectorView</string>
	<key>inbox.screen</key>
	<string>VConversationListViewController</string>
	<key>livechat.screen</key>
	<string>victorious.ChatFeedViewController</string>
	<key>message.screen</key>
	<string>VConversationContainerViewController</string>
	<key>notifications.screen</key>
	<string>VNotificationsViewController</string>
	<key>findFriends.screen</key>
	<string>VFindFriendsViewController</string>
	<key>currentUserProfile.screen</key>
	<string>VUserProfileViewController</string>
	<key>staticProfile.streamHeader</key>
	<string>VStaticUserProfileHeaderViewController</string>
	<key>floatingProfile.streamHeader</key>
	<string>VFloatingUserProfileHeaderViewController</string>
	<key>userProfile.screen</key>
	<string>VUserProfileViewController</string>
	<key>forumProfile.screen</key>
	<string>victorious.VNewProfileViewController</string>
	<key>settings.screen</key>
	<string>VSettingsViewController</string>
	<key>comments.screen</key>
	<string>victorious.CommentsViewController</string>
	<key>collections.directoryCell</key>
	<string>VCollectionsDirectoryCellFactory</string>
	<key>showcase.directoryCell</key>
	<string>VShowcaseDirectoryCellFactory</string>
	<key>card.directoryCell</key>
	<string>VCardDirectoryCellFactory</string>
	<key>inset.streamCell</key>
	<string>VInsetStreamCellFactory</string>
	<key>titleOverlay.streamCell</key>
	<string>VTitleOverlayStreamCellFactory</string>
	<key>sleek.streamCell</key>
	<string>victorious.VSequenceContentCellFactory</string>
	<key>trending.shelf</key>
	<string>victorious.VTrendingShelfCellFactory</string>
	<key>list.shelf</key>
	<string>victorious.VListShelfCellFactory</string>
	<key>fullscreen.marqueeCell</key>
	<string>VFullscreenMarqueeController</string>
	<key>blurred.marqueeCell</key>
	<string>VBlurredMarqueeController</string>
	<key>inset.marqueeCell</key>
	<string>VInsetMarqueeController</string>
	<key>explore.marqueeCell</key>
	<string>victorious.ExploreMarqueeController</string>
	<key>webView.screen</key>
	<string>VWebBrowserViewController</string>
	<key>standard.coachmark</key>
	<string>VCoachmark</string>
	<key>standard.permissionsAlert</key>
	<string>VPermissionAlertViewController</string>
	<key>standard.creationFlow</key>
	<string>VCreationFlowShim</string>
	<key>standard.createSheet</key>
	<string>VCreateSheetViewController</string>
	<key>forcedContentCreation.screen</key>
	<string>VForcedWorkspaceContainerViewController</string>
	<key>publish.screen</key>
	<string>VPublishViewController</string>
	<key>standard.badgeView</key>
	<string>victorious.AvatarLevelBadgeView</string>
	<key>trendingTopic.shelf</key>
	<string>victorious.TrendingTopicShelfFactory</string>
	<key>levelUp.interstitial</key>
	<string>victorious.LevelUpViewController</string>
	<key>animated.badgeView</key>
	<string>victorious.AnimatedBadgeView</string>
	<key>vipPaygate.screen</key>
	<string>VIPFlowNavigationController</string>
	<key>trophyCase.screen</key>
	<string>victorious.TrophyCaseViewController</string>
	<key>trophyCase.achievement</key>
	<string>victorious.Achievement</string>
	<key>webSocket.networkLayer</key>
	<string>victorious.WebSocketForumNetworkSource</string>
	<key>REST.networkLayer</key>
	<string>victorious.RESTForumNetworkSource</string>
	<key>statusUpdate.interstitial</key>
	<string>victorious.InterstitialAlertViewController</string>
	<key>listMenu.screen</key>
	<string>victorious.ListMenuViewController</string>
	<key>standard.error.toast</key>
	<string>victorious.InterstitialToastViewController</string>
	<key>tutorial.screen</key>
	<string>victorious.TutorialViewController</string>
	<key>imageOnImage.button</key>
	<string>VImageOnImageButton</string>
	<key>imageOnColor.button</key>
	<string>VImageOnColorButton</string>
	<key>textOnImage.button</key>
	<string>VTextOnImageButton</string>
	<key>textOnColor.button</key>
	<string>VTextOnColorButton</string>
	<key>push.notifications.screen</key>
	<string>victorious.NotificationSettingsViewController</string>
</dict>
</plist>
