<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}PaulsHappyPlace</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}paulshappyplace</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb758493307598287</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>758493307598287</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>pV7wzX2XIZQCrk2mNR8TLp7OM</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>vWHaQWF26JkXSZhu9k3FMFuQVIpeZj3DU0pJtpb8QC5hqEOhwC</string>
	<key>VictoriousAppID</key>
	<integer>28</integer>
	<key>StagingAppID</key>
	<integer>42</integer>
	<key>QAAppID</key>
	<integer>26</integer>
	<key>GAID</key>
	<string></string>
	<key>CreatorSalutation</key>
	<string>Paul Pow</string>
	<key>FlurryAPIKey</key>
	<string>XXXXXXXXXX</string>
</dict>
</plist>
