<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capture</key>
	<string>medium</string>
	<key>remix</key>
	<string>medium</string>
	<key>url.appstore</key>
	<string>itms-apps://itunes.com/apps</string>
	<key>url.privacy</key>
	<string>/api/static/privacy</string>
	<key>realtimeComments</key>
	<false/>
	<key>url.tos</key>
	<string>/api/tos</string>
</dict>
</plist>
