<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}iVictorious</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}ivictorious</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb816327885127751</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>816327885127751</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>LubB9WRysMX1Q2oE5Q15VDS9J</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>AYlYTpHwc0B5QkSpifyDmVRrM29ZXLWgIovXc7CyZBf36wTFW2</string>
	<key>VictoriousAppID</key>
	<integer>11</integer>
	<key>StagingAppID</key>
	<integer>24</integer>
	<key>QAAppID</key>
	<integer>7</integer>
	<key>FlurryAPIKey</key>
	<string>R5NWJQXKV594N4ZBBQB2</string>
	<key>GAID</key>
	<string>UA-51702806-5</string>
</dict>
</plist>
