<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}Geek&amp;Sundry</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}geeksundry</string>
	<key>CFBundleName</key>
	<string>${ProductPrefix}Geek&amp;Sundry</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1480263852212846</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1480263852212846</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>3eWPit0znW5VM0Aqv1F8gbzGn</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>YdlO7Wef36NqaYciRPgGsoXnp3wZHfxWNEsL9r5MDGayXrPnof</string>
	<key>VictoriousAppID</key>
	<integer>37</integer>
	<key>StagingAppID</key>
	<integer>51</integer>
	<key>QAAppID</key>
	<integer>35</integer>
	<key>GAID</key>
	<string></string>
	<key>CreatorSalutation</key>
	<string>Geek &amp; Sundry</string>
	<key>FlurryAPIKey</key>
	<string>XXXXXXXXXX</string>
</dict>
</plist>