<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ProvisioningProfiles</key>
    <dict>
        <key>Staging</key>
        <string>EatYourKimchi Staging Ad-Hoc Distribution</string>
        <key>QA</key>
        <string>EatYourKimchi QA Ad-Hoc Distribution</string>
    </dict>
    <key>SigningIdentities</key>
    <dict>
        <key>QA</key>
        <string>iPhone Distribution: Simon Stawski (KYRQV9CPB2)</string>
        <key>QA</key>
        <string>iPhone Distribution: Simon Stawski (KYRQV9CPB2)</string>
    </dict>
    <key>DevAccounts</key>
    <dict>
        <key>Staging</key>
        <string>eatyourkimchi@getappsubmit.com</string>
        <key>QA</key>
        <string>eatyourkimchi@getappsubmit.com</string>
    </dict>
</dict>
</plist>
