<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}LinusTech</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}linustechtips</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1554316678173047</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1554316678173047</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>RXQax7sxwOrGmjsInBNrIrIAf</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>QE6Pf6wUoFzAj2twVxs4qcgV5N6A6ELvixW50vCfYwBKrbBET0</string>
	<key>TestflightReleaseAppToken</key>
	<string>4b27cca6-84af-4586-8248-85a79c643c64</string>
	<key>TestflightQAAppToken</key>
	<string>83824311-9fea-4473-9a0b-b5e054d66f1f</string>
	<key>TestflightStagingAppToken</key>
	<string>0fc3d522-364a-423f-ad51-6baf62001a3a</string>
	<key>VictoriousAppID</key>
	<integer>19</integer>
	<key>StagingAppID</key>
	<integer>33</integer>
	<key>QAAppID</key>
	<integer>17</integer>
</dict>
</plist>
