<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}victorious</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}victorious</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1374328719478033</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.getvictorious.deeplinking.scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>getvictorious</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>900</string>
	<key>FacebookAppID</key>
	<string>1374328719478033</string>
	<key>FacebookDisplayName</key>
	<string>VictoriousApp Dev</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>MhDYRpVPTaGQgWBT7ChmxQ</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>damxXK28SCObMZ1CEMTLszm3v8mdRt0L1wuVnzXtH1E</string>
	<key>TestflightDevAppToken</key>
	<string>503df174-0d0c-4077-91ea-f509a5bbd142</string>
	<key>TestflightQAAppToken</key>
	<string>a58f1753-1790-4c39-b115-02663d0163a5</string>
	<key>TestflightReleaseAppToken</key>
	<string>03cd956e-d112-4a45-b62e-b3875b27592c</string>
	<key>TestflightStagingAppToken</key>
	<string>39907803-9e14-4967-bac2-e079046065c9</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>MuseoSans-100.otf</string>
		<string>MuseoSans-300.otf</string>
		<string>MuseoSans-500.otf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>VictoriousAppID</key>
	<integer>8</integer>
	<key>VictoriousServerEnvironment</key>
	<string>${DefaultEnvironment}</string>
</dict>
</plist>
