<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}Impaulsive</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}impaulsive</string>
	<key>CFBundleName</key>
	<string>${ProductPrefix}Impaulsive</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb474729179357119</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>474729179357119</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>XXdBky081yIvqIRNSMmtoKALD</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>E80BvhmMnKmu4z8qLmQxp75P7GRqJkusQKtgEBE467nC8i703B</string>
	<key>VictoriousAppID</key>
	<integer>58</integer>
	<key>StagingAppID</key>
	<integer>73</integer>
	<key>QAAppID</key>
	<integer>55</integer>
	<key>CreatorSalutation</key>
	<string>Impaulsive</string>
	<key>FlurryAPIKey</key>
	<string>52BPCHVSMJRXV2GG68GB</string>
</dict>
</plist>