<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}STRskillSchool</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}strskillschool</string>
	<key>CFBundleName</key>
	<string>${ProductPrefix}STRskillSchool</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb508308315989554</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>508308315989554</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>wlnUSLAs2IDtZ7IVMAPgEOJoW</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>ox3nSZxeRi6zzE6ajrJqFx9XAYrZtfqCZPvWe39JygTxG2Uvg5</string>
	<key>VictoriousAppID</key>
	<integer>60</integer>
	<key>StagingAppID</key>
	<integer>75</integer>
	<key>QAAppID</key>
	<integer>59</integer>
	<key>CreatorSalutation</key>
	<string>STRskillSchool</string>
	<key>FlurryAPIKey</key>
	<string>45DV5DKBPX39CQFQQ2N3</string>
</dict>
</plist>
