<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}BeautyLiciousInsider</string>
	<key>CFBundleIdentifier</key>
	<string>com.iADAPPT.${ProductPrefix}bli</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1620694648150736</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1620694648150736</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>IjPoW6imBavSlG6ilYGmBEkvc</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>TgJvzxvp8jn9GnC9BRXUGrbai4BJYt64cOFzWf6Mb2tb7Rkyzx</string>
	<key>VictoriousAppID</key>
	<integer>30</integer>
	<key>StagingAppID</key>
	<integer>44</integer>
	<key>QAAppID</key>
	<integer>28</integer>
	<key>GAID</key>
	<string></string>
	<key>CreatorSalutation</key>
	<string>TBD</string>
	<key>FlurryAPIKey</key>
	<string>XXXXXXXXXX</string>
</dict>
</plist>
