<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}Janoskians</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}janoskians</string>
	<key>CFBundleName</key>
	<string>${ProductPrefix}TheJanoskians</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb606773379464458</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>606773379464458</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>OP9IHKZkMVK7nNEI5vH6DHgc9</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>dDvQdnUSn5nv6mnCaKSR4AvCk0D6F43HJf7JBnozAU1C6FIakB</string>
	<key>VictoriousAppID</key>
	<integer>62</integer>
	<key>StagingAppID</key>
	<integer>77</integer>
	<key>QAAppID</key>
	<integer>65</integer>
	<key>CreatorSalutation</key>
	<string>Janoskians</string>
	<key>FlurryAPIKey</key>
	<string>5YYK856KX8SPFRVKZMR8</string>
</dict>
</plist>