<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}NobleMenInc</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}noblemeninc</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1545466625714221</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1545466625714221</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>kZLEmK9m2SxXZIq6k2ecETKqP</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>mbhELZuARaIYOlRNQdBvPW65dTCUFI4WDKPgMFEzk6XOA9mEzz</string>
	<key>VictoriousAppID</key>
	<integer>25</integer>
	<key>StagingAppID</key>
	<integer>39</integer>
	<key>QAAppID</key>
	<integer>23</integer>
	<key>GAID</key>
	<string></string>
	<key>CreatorSalutation</key>
	<string>David Noble</string>
	<key>FlurryAPIKey</key>
	<string>XXXXXXXXXX</string>
</dict>
</plist>
