<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}victorious</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}victorious</string>
	<key>CFBundleName</key>
	<string>${ProductPrefix}victorious</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1374328719478033</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.getvictorious.deeplinking.scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${ProductPrefix}victorious</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1374328719478033</string>
	<key>FacebookDisplayName</key>
	<string>VictoriousApp Dev</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>MhDYRpVPTaGQgWBT7ChmxQ</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>damxXK28SCObMZ1CEMTLszm3v8mdRt0L1wuVnzXtH1E</string>
	<key>TestflightReleaseAppToken</key>
	<string>02101c7d-4a01-4a44-8e8a-26dca03554aa</string>
	<key>TestflightQAAppToken</key>
	<string>553ddcc2-00e7-4c93-987b-f552eba89273</string>
	<key>TestflightStagingAppToken</key>
	<string>cabc9a4e-9385-49a7-8d5f-bedd539b60d6</string>
	<key>VictoriousAppID</key>
	<integer>1</integer>
	<key>StagingAppID</key>
	<integer>1</integer>
	<key>QAAppID</key>
	<integer>1</integer>
	<key>GAID</key>
	<string>UA-51702806-9</string>
	<key>CreatorSalutation</key>
	<string>Debug Victorious</string>
	<key>FlurryAPIKey</key>
	<string>XXXXXXXXXX</string>
</dict>
</plist>
