<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}GTCourtney</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}gtcourtney</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb737457919702679</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>737457919702679</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>IQv9GZJYvZNCOh8M9zrSVuPBr</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>Du1DCL72RmqfLhSZwgr4hGQq0ZqNK3n28CEojfSScSDml16K0N</string>
	<key>VictoriousAppID</key>
	<integer>23</integer>
	<key>StagingAppID</key>
	<integer>37</integer>
	<key>QAAppID</key>
	<integer>21</integer>
	<key>GAID</key>
	<string></string>
	<key>CreatorSalutation</key>
	<string>Courtney Ashton</string>
	<key>FlurryAPIKey</key>
	<string>XXXXXXXXXX</string>
</dict>
</plist>
