<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${ProductPrefix}DeStorm</string>
	<key>CFBundleIdentifier</key>
	<string>com.getvictorious.${ProductPrefix}DeStorm</string>
	<key>CFBundleName</key>
	<string>${ProductPrefix}DeStorm</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1592899894322421</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1592899894322421</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>lKzw8orHjF7nou9cbdl94Xzy5</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>gVFrLxgCQK9DhXiyprhoBmocDfzijejiJ7irthxhpZVEQnAfyd</string>
	<key>VictoriousAppID</key>
	<integer>43</integer>
	<key>StagingAppID</key>
	<integer>11</integer>
	<key>QAAppID</key>
	<integer>41</integer>
	<key>CreatorSalutation</key>
	<string>DeStorm</string>
	<key>FlurryAPIKey</key>
	<string>QG2GF9F3TSXCBH4QQ8J3</string>

</dict>
</plist>
